<div class="tab inventory" data-group="primary" data-tab="inventory">
    <ol class="currency">
        {{#each data.currency as |c i|}}
        <li class="denomination {{i}}">
            <label>{{c.label}}:</label>
            <input type="text" name="data.currency.{{i}}.value" value="{{c.value}}" data-dtype="{{c.type}}"/>
        </li>
        {{/each}}
    </ol>

    <ol class="inventory-list directory-list inventory-pane">
    {{#each actor.inventory as |section sid|}}
        <li class="item inventory-header">
            <h3 class="item-name">{{section.label}}</h3>
            <span class="item-quantity">{{localize "PF2E.QuantityLabel"}}</span>
            <span class="item-weight">{{localize "PF2E.BulkShortLabel"}}</span>
            {{#if ../owner}}
            <div class="item-controls" style="display: flex">
                <a class="item-control item-create" title="{{localize "PF2E.CreateItemTitle"}}" data-type="{{sid}}"><i class="fas fa-plus"></i></a>
                <a class="item-control inventory-browse" title="{{localize "PF2E.OpenInventoryBrowser"}}" data-type="{{sid}}"><i class="fas fa-search"></i></a>
            </div>
            {{/if}}
        </li>
        {{#each section.items as |item iid|}}
        <li class="item" data-item-id="{{item._id}}">
            <div class="item-name rollable">
                <div class="item-image" style="background-image: url({{item.img}})"></div>
                <h4>
                    {{item.name}}
                    {{#if item.data.attuned.value}}<i class="prepared fas fa-haykal"></i>{{/if}}
                    {{#if item.isTwoHanded}}
                        {{#if item.wieldedTwoHanded}}<i class="far fa-hand-paper"></i>{{/if}}
                        <i class="far fa-hand-paper"></i>
                    {{/if}}
                </h4>
                {{#if item.hasCharges}}
                <span class="item-charges">({{item.data.charges.value}}/{{item.data.charges.max}})</span>
                {{/if}}
            </div>
            <span class="item-quantity">
                <a class="item-decrease-quantity">&ndash;</a>
                <span>{{item.data.quantity.value}}</span>
                <a class="item-increase-quantity">+</a>
            </span>
            <span class="item-weight">{{item.totalWeight}}</span>

            {{#if ../../owner}}
            <div class="item-controls">
                {{#if item.isArmor}}
                <a class="item-control item-toggle-equip{{item.armorEquipped}}" title="{{localize "PF2E.ui.armorEquipped"}}"><i class="fas fa-tshirt"></i></a>
                {{/if}}
                {{#unless item.isArmor}}
                <div style="float: left; width: 22px;">&nbsp;</div>
                {{/unless}}
                <a class="item-control item-edit" title="{{localize "PF2E.EditItemTitle"}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize "PF2E.DeleteItemTitle"}}"><i class="fas fa-trash"></i></a>
            </div>
            {{/if}}
        </li>
        {{/each}}
    {{/each}}
    </ol>

    {{#with data.attributes.encumbrance}}
    <div class="encumbrance {{#if encumbered}}encumbered{{/if}}">
        <span class="encumbrance-bar" style="width:{{pct}}%"></span>
        <span class="encumbrance-label">{{value}} / {{max}}</span>
        <!-- <div class="encumbrance-breakpoint arrow-up"></div>
        <div class="encumbrance-breakpoint arrow-down"></div> -->
    </div>
    {{/with}}
</div>
