.crb-style section.window-content {
    padding: 0;
}

.crb-style form {
    all: initial;
    display: grid;
    grid:
        'sidebar header' 100px
        'sidebar content' auto
        / 247px 1fr;
    input {
        all: initial;
        &::placeholder {
            color: white;
        }
    }

    @import 'sidebar';

    section.header {
        grid-area: header;
    }
    section.content {
        grid-area: content;
    }

    .tag {
        color: white;
        font-family: $micro;
        font-size: 8px;
        border: 1px solid white;
        border-radius: 2px;
        padding: 0 3px 2px;
        margin-bottom: 2px;
        & + .tag,
        &:first-child {
            margin-right: 3px;
        }
        &.edit-btn {
            background-color: white;
            border-radius: 0;
            padding: 1px;
            a {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                color: var(--primary);
                svg {
                    height: 7px;
                    width: 11px;
                }
            }
        }
    }
}

.pf2e.sheet form .tag {
    font-weight: 700;
}
