<div class="sidebar_title">
    <h2>Class DC</h2>
    <h4>Status</h4>
    <h4>Item</h4>
</div>

<div class="class-dc">
    <div class="data-value">
        <h2>16</h2>
    </div>
    <select name="prof-dropdown">
        <option value="untrained">Untrained</option>
        <option value="trained">Trained</option>
        <option value="expert">Expert</option>
        <option value="master">Master</option>
        <option value="legendary">Legendary</option>
    </select>
    <span class="stat-item">
        <input type="number" data-dtype="Number" placeholder="0" />
    </span>
    <span class="stat-item">
        <input type="number" data-dtype="Number" placeholder="0" />
    </span>
</div>
