.hitpoints {
    h4 {
        font-family: $serif;
        font-weight: 500;
        margin: 0;
        line-height: 1;
    }
    .hp-big {
        display: flex;
        justify-content: space-evenly;
        .hp-container {
            text-align: center;
            &.temp-hp {
                text-align: right;
                input[type='number'] {
                    text-align: right;
                }
            }
            &.max-hp {
                text-align: left;
                h2 {
                    color: $sidebar-label;
                    text-align: left;
                }
            }
            &.current-hp {
                margin-top: -15px;
                padding: 10px 2px 0;
                position: relative;
                z-index: 0;
                border-radius: 0 0 2px 2px;
                /* prettier-ignore */
                box-shadow:
                    0 0 0 1px #9f725b,
                    0 0 0 2px #e9d7a1,
                    0 0 0 3px #956d58;

                input[type='number'] {
                    width: 52px;
                    font-size: 32px;
                    letter-spacing: -1px;
                }
            }
        }
    }
    .hp-small {
        display: flex;
        justify-content: space-evenly;
        margin-top: 8px;
        text-align: center;
        h4 {
            font-family: $micro;
            font-weight: bold;
        }
        .far,
        .fas {
            color: white;
        }
        .dying {
            margin-right: 6px;
        }
    }
}
