<header class="sheet-header">
    <h1 class="charname" style="flex: 6;">
        <input name="name" type="text" value="{{actor.name}}"
        placeholder="{{localize "PF2E.CharacterNamePlaceholder"}}"/>
    </h1>

    {{#if readonlySheet}}
    <div class="editsheet">
        <label>Edit?</label>
        <input
            class="isNPCEditable"
            name="flags.pf2e.editSheet.value"
            type="checkbox"
            data-dtype="Boolean"
            {{checked
            flags.pf2e.editSheet.value}}
        />
    </div>
    {{/if}}

    <div class="defense-container" style="margin-top: 5px; margin-right: 5px;">
        <h4
            class="proficiency-name pf-title"
            style="
                background: var(--primary-background);
                border: 1px solid var(--primary-background);
            "
        >
            {{localize "PF2E.HeroPointsLabel"}}
        </h4>
        <input
            type="hidden"
            name="data.attributes.heroPoints.rank"
            data-max="3"
            value="{{data.attributes.heroPoints.rank}}"
            data-dtype="Number"
        />
        <span
            class="proficiency-rank click-stat-level pf-value"
            title="{{data.attributes.heroPoints.hover}}"
        >
            {{{data.attributes.heroPoints.icon}}}
        </span>
    </div>

    <div class="charlevel">
        <div class="level">
            <label>{{localize "PF2E.LevelLabel"}}</label>
            <input
                name="data.details.level.value"
                type="text"
                value="{{data.details.level.value}}"
                data-dtype="Number"
                placeholder="1"
            />
        </div>
        <div class="xpbar">
            <span class="bar" style="width: {{data.details.xp.pct}}%"></span>
        </div>
        <div class="experience">
            <input
                name="data.details.xp.value"
                type="text"
                value="{{data.details.xp.value}}"
                data-dtype="Number"
                placeholder="0"
            />
            <span class="max" data-wpad="14">/ {{data.details.xp.max}}</span>
        </div>
    </div>
</header>
